
.dashboard-layout {  
    height: 80vh;
    display: grid;
    padding: 20px 30px;
    grid-template-columns:260px 1fr 1fr;
    justify-content: center;
    align-items: center;
    // justify-items: center;
}





