.user-msg {
    background-color: rgb(113, 113, 113);
    padding: .2em .5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;
    z-index: 100;
    
    button {
        font-size: .5em;
        float: right;
        margin: .5em;
    }
}

.success {
    background-color: green;
}
.error {
    background-color: red;
}