
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    .main-area{
        display: flex;
        justify-content: center;
        
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1000px;
            
        }
    }
}